<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load custom_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}FOSSEE Workshops{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'workshop_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'workshop_app/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'workshop_app/css/toastr.min.css' %}">
    <script src="{% static 'workshop_app/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'workshop_app/js/popper.min.js' %}"></script>
    <script src="{% static 'workshop_app/js/bootstrap.min.js' %}"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    {% block extra-dependencies %}{% endblock %}
</head>
<body>
<div class="app-shell">
    {% block header %}
        {% include 'workshop_app/includes/navbar.html' %}
    {% endblock %}

    {% include 'workshop_app/includes/flash_messages.html' %}

    <main class="page-content">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer page-footer">
        <div class="container">
            © FOSSEE Workshops
        </div>
    </footer>
</div>
<div id="page-animation-root"></div>
<script src="{% static 'workshop_app/js/scrollAnimations.js' %}"></script>
{% block extra-custom-scripts %}{% endblock %}
</body>
</html>
